# Variable

snake_case

camelCase

PascalCase

Tips:
- Harus konsisten
- Menggunakan bahasa inggris
Variabel adalah tempat untuk menyimpan suatu data atau sequence
Tidak boleh diawali dengan nomor

In [2]:
56

56

# Data Type

## Integer

- Bilangan bulat
- Termasuk 0 dan negatif
- Biasanya mempresentasikan data diskrit


Note : Nilangan diskrit adalah bilangan yang tidak dapat dibagi

In [3]:
3

3

In [4]:
# Cek Tipe Data
# Ini adalah tipe data out
type(3)

int

In [5]:
# Mengubah tipe data
'''
Tulis tujuan tipenya dulu baru dalam kurung data yang ingin diubah
Contoh mengubah data ineger (3) ke float
float(3)
'''
float(3)

3.0

In [6]:
int(3.0)

3

In [10]:
type(4.0)

float

## Float

- Bilangan desimal
- Termasuk X.0
- Biasanya digunakan dalam data kontinu

Note: Data kontinu merupakan data yang bisa dibagi (contoh: suhu, waktu, tinggi badan)

In [11]:
type(3.0)

float

## String

- Ada tanda petik ' atau "
- Biasaya ada alfabet
- Sebaiknya kutip dua "

In [12]:
'Ardi'

'Ardi'

In [13]:
"Ardi Mc'Laren"

"Ardi Mc'Laren"

In [14]:
dataNumerik = 1240

In [15]:
# Mengubah tipe data menjadi string tanpa di assign ke suatu variabel
str(dataNumerik)

'1240'

In [16]:
# Setelah dicek tipenya, masih tipe lama sebelum diubah integer
type(dataNumerik)

int

In [19]:
# Untuk menanggulanginya, kita masukan perubahan dalam suatu variabel
dataNumerik = str(dataNumerik)

dataNumerik

'1240'

In [20]:
type(dataNumerik)

str

### String Manipulation

#### + dan * Operation

In [23]:
sby003 = "FTDS_Surabaya"
hohe = "hohe"

In [27]:
# + Operation

sby003 + ' ' + hohe + '!' + '4'

'FTDS_Surabaya hohe!4'

In [28]:
# * Operation
hohe * 7

'hohehohehohehohehohehohehohe'

#### Case Conversion

In [32]:
print("Original:")
print(sby003)
print(' ')
print("To Lowercase:")
print(sby003.lower())
print(' ')
print("To Upercase:")
print(sby003.upper())
print(' ')
print("To Capitalize:")
print(sby003.capitalize())
print(' ')
print("To Swapcase:")
print(sby003.swapcase())

Original:
FTDS_Surabaya

To Lowercase:
ftds_surabaya

To Upercase:
FTDS_SURABAYA

To Capitalize:
Ftds_surabaya

To Swapcase:
ftds_sURABAYA

## Boolean

- Terdiri dari `True` & `False`
- Kadang dipresentasikan dengan 0 dan 1
- Kadang juga dipresentasikan dengan `Male` `Female`, `Churn` & `Stay`, `Good` & `Bad`, dll

In [33]:
# AND Logic
print(False and False)
print(True and False)
print(False & True)
print(True & True)

False
False
False
True

In [34]:
# OR Logic
print(False or False)
print(True or True)
print(False | True)
print(True | True)

False
True
True
True

In [35]:
5 > 3

True

In [36]:
( 5 > 3  ) | ( 4 ==5 )

True

### Operators

Assignment
- '='

Comparison
- '==' Equal to
- '!=' Not equal to
- '<' Less than
- '>' Greater than
- '<=' Less than or equal to
- '>=' Greater than or equal to

Aritmetic

In [37]:
2**3

8

In [38]:
6/5

1.2

In [39]:
9//5

1

In [40]:
# bilangan modulus, mengetahui ganjil atau genap (angkanya dimodulus 2)
9%5

4

## Sequence

### List

[ . . . ]


Isinya daftar data

In [42]:
sby003 = ['Yolan','Tyas','Fadilla','Hassan','Ardhi','Rhesa']

sby003

['Yolan', 'Tyas', 'Fadilla', 'Hassan', 'Ardhi', 'Rhesa']

In [43]:
# Memanggil salah satu data
sby003[4]

'Ardhi'

In [44]:
# Memanggil yang perempuan
# 0 sebagai stating point, 3 sebagai yang tidak diikutkan
# atau sby003[:3]
sby003[0:3]

['Yolan', 'Tyas', 'Fadilla']

In [47]:
sby003[3:]

['Hassan', 'Ardhi', 'Rhesa']

In [48]:
# Mengubah data

sby003[1] = 'Panda'

sby003

['Yolan', 'Panda', 'Fadilla', 'Hassan', 'Ardhi', 'Rhesa']

### Tuple

(...)
Isinya daftar data
Tapi isinya tidak bisa diubah

In [49]:
sby003Tuple = ('Yolan','Tyas','Fadilla','Hassan','Ardhi','Rhesa')

sby003Tuple

('Yolan', 'Tyas', 'Fadilla', 'Hassan', 'Ardhi', 'Rhesa')

In [50]:
sby003Tuple[0]

'Yolan'

In [52]:
sby003Tuple[-1]

'Rhesa'

In [53]:
sby003Tuple[-6]

'Yolan'

In [51]:
sby003Tuple[0] = "Macan"

TypeError: 'tuple' object does not support item assignment

### Dictionary

{`key`:`value`}

`value` bisa berupa datum, list, tuple, set atau bahkan dictionary lagi

In [55]:
{'branch':'Surabaya',
 'batch':3,
 'students':('Yolan', 'Tyas', 'Fadilla', 'Hassan', 'Ardhi', 'Rhesa'),
 'sex':{'male':3,'female':3}}

{'branch': 'Surabaya',
 'batch': 3,
 'students': ('Yolan', 'Tyas', 'Fadilla', 'Hassan', 'Ardhi', 'Rhesa'),
 'sex': {'male': 3, 'female': 3}}

In [63]:
sby003['sex']

TypeError: list indices must be integers or slices, not str

In [65]:
dicFood = {}

In [67]:
dicFood['name'] = 'Nasi Padang'

dicFood

{'name': 'Nasi Padang'}

In [68]:
dicFood['price'] = 'Rp25.000'

dicFood

{'name': 'Nasi Padang', 'price': 'Rp25.000'}

In [69]:
dicFood['lauk'] = ['Rendang','Ayam','Paru','Tunjang']

dicFood

{'name': 'Nasi Padang',
 'price': 'Rp25.000',
 'lauk': ['Rendang', 'Ayam', 'Paru', 'Tunjang']}

### Set


{values}


unordered, unchangeable, and, and undixed

In [64]:
setFruit = {"apple","cherry","banana","apple"}

setFruit

{'apple', 'banana', 'cherry'}

In [79]:
# SOAL 1
customer_id = ['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461',
               'B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821',
               'B341', 'B821', 'B904', 'B818', 'A901', 'A083', 'B818', 'A082',
               'B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083',
               'A082', 'B219', 'B439', 'A461', 'A005', 'A901', 'B341', 'A082',
               'A083', 'A461', 'A083', 'A901', 'A461', 'A083', 'A082', 'A083',
               'B341', 'A901', 'A082', 'A461', 'B219', 'A083', 'B818', 'B821',
               'A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092']

type(customer_id)

list

In [80]:
setcustomer=(customer_id)

In [81]:
type(setcustomer)

list

In [82]:
len(setcustomer)

63

In [83]:
# SOAL 2

Data2 = [1, 4, 9, 16, 25, 36, 49,  64, 81, 100]

type(Data2)

list

In [84]:
## SOAL 2A
Data2[3]

16

In [86]:
## SOAL 2B
Data2[5:-1]

[36, 49, 64, 81]

In [94]:
## SOAL 2C
Data2.sort(reverse = True)
print(Data2)

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [87]:
# SOAL 3
## SOAL 3A
provinsi = {'Nanggroe Aceh Darussalam': 'Aceh',
            'Sumatera Selatan': 'Palembang',
            'Kalimantan Barat': 'Pontianak',
            'Jawa Timur': 'Madiun',
            'Sulawesi Selatan': 'Makassar',
            'Maluku': 'Ambon'}
type(provinsi)

dict

In [96]:
## SOAL 3B
provinsi["Jawa Timur"]='Surabaya'

In [97]:
print(provinsi)

{'Nanggroe Aceh Darussalam': 'Aceh', 'Sumatera Selatan': 'Palembang', 'Kalimantan Barat': 'Pontianak', 'Jawa Timur': 'Surabaya', 'Sulawesi Selatan': 'Makassar', 'Maluku': 'Ambon'}