In [ ]:
-- create customer table
CREATE TABLE customer (
    id SERIAL PRIMARY KEY,
    costumer_id VARCHAR(50),
    customer_name VARCHAR(10),
    city
);
-- create order table
CREATE TABLE order (
    id SERIAL PRIMARY KEY,
    orderid VARCHAR(50),
    customer_id INTEGER,
    order_date INTEGER REFERENCES campus(id),
    total_amount FLOAT
);